/* ===================
   CSS VARIABLES
   =================== */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Font Size */
  --fs-600: 1.25rem; /* 20px */

  /* Font weights */
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Font family */
  --ff-fira-code: 'Fira Code', monospace;
  --ff-work-sans: 'Work Sans', sans-serif;

  /* Spaces */
  --space-40: 0.25rem;
  --space-100: 0.625rem;
  --space-200: 0.75rem;
  --space-400: 1rem;
  --space-600: 1.25rem;
  --space-900: 2rem;
  --space-2100: 5rem; /* 80px */

  --width-main: 75rem; /* 1200px */
  --size-game-board: 25rem; /* 400px */
  --width-messages: 31.25rem; /* 500px */
  --height-messages: 12.5rem; /* 200px */
  --width-dialog: 43.75rem; /* 700px */

  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-red: hsl(359, 94%, 62%);
  --clr-slate-blue: hsl(248, 53%, 58%);
  --clr-green: hsl(123, 88%, 24%);
  --clr-pink: hsl(323, 52%, 53%);
  --clr-caribbean-sea: hsl(201, 51%, 69%);
  --clr-orange: hsl(33, 94%, 55%);
  --clr-copenhagen-blue: hsl(205, 100%, 51%);
  --clr-cerulean-blue: hsl(208, 25%, 45%);
  --clr-aquamarine: hsl(162, 95%, 36%);
  --clr-true-green: hsl(94, 38%, 59%);
  --clr-permanent-red: hsl(3, 70%, 53%);
  --clr-prussian-green: hsl(120, 100%, 22%);
  --clr-mulberry: hsl(272, 63%, 46%);

  /* Utilities */
  --radius-1: 0.3125rem; /* 5px */
  --radius-2: 0.625rem; /* 10px */
  --shadow-1: 0px 3px 5px 0px hsla(0, 0%, 0%, 0.36);
}

/* ===================
   JOSH COMEAU'S RESET 
   =================== */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks! */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

/* ===================
   END OF RESET 
   =================== */

/* Apply flex to body */
body {
  padding: var(--space-400);
  display: flex;
  flex-direction: column;
  gap: var(--space-900);
  font-family: var(--ff-work-sans);
  font-weight: var(--fw-medium);
  min-height: 100vh;
}

/* Header styles */
.header {
  font-family: var(--ff-fira-code);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Apply flex and limit width to main */
.main {
  display: flex;
  flex-direction: column;
  gap: var(--space-900);
  padding: 0 var(--space-2100) var(--space-900);
  border: 1px solid var(--clr-mulberry);
  width: var(--width-main);
  margin: 0 auto;
}

/* Place buttons in a row */
.btns-container {
  display: flex;
  justify-content: space-between;
  gap: var(--space-900);
  padding: var(--space-400);
  border-block-end: 1px solid black;
}

.intro,
.computer,
.computer__levels {
  display: flex;
  align-items: center;
  gap: var(--space-900);
}

/* Default button styles */
.btn {
  display: inline-block;
  border-radius: var(--radius-1);
  padding: var(--space-40) var(--space-400);
  border: transparent;
  font-weight: var(--fw-semibold);
  color: var(--clr-white);
  cursor: pointer;
}

.intro__btn {
  background-color: var(--clr-copenhagen-blue);
}

.computer-btn {
  color: var(--clr-aquamarine);
  border: 1px solid var(--clr-aquamarine);
  background-color: var(--clr-white);
}

/* Active button styles for computer levels */
.active {
  background-color: var(--clr-aquamarine);
  color: var(--clr-white);
  border: none;
}

/* Place boards side by side */
.boards-container {
  display: flex;
  justify-content: space-between;
}

/* Place squares in a 2D array grid */
.game-board {
  width: var(--size-game-board);
  height: var(--size-game-board);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--clr-caribbean-sea);
}

/* Default square styles */
.cell {
  border: 1px solid var(--clr-white);
  cursor: pointer;
}

/* Style squares with ships */
.ship {
  background-color: var(--clr-cerulean-blue);
  cursor: move;
}

/* Apply styles to dragged ships */
.drag-ship {
  background-color: var(--clr-green);
  opacity: 0.4;
}

/* Styles for target squares */
.target-square {
  border: 3px dotted var(--clr-red);
}

/* Styles for game-play section */
.game-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-200);
}

/* Styles for player turn section */
.player-turn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  color: var(--clr-mulberry);
  font-size: var(--fs-600);
  font-weight: var(--fw-semibold);
}

/* Styles for game play buttons */
.game {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--space-400);
  flex: 2;
}

.game__btn {
  background-color: var(--clr-prussian-green);
}

.game-data {
  display: flex;
  justify-content: space-between;
}

/* Styles for ships and messages sections */
.ships,
.messages {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.ships__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.computer-ships {
  text-align: right;
}

/* Styles for messages section */
.messages__heading {
  text-align: center;
}

.messages__container {
  border: 1px solid var(--clr-true-green);
  width: var(--width-messages);
  height: var(--height-messages);
  border-radius: var(--radius-2);
  padding: var(--space-100);
  overflow: auto;
}

/* Default message styles */
.message {
  padding: var(--space-40) 0;
}

/* Error message styles */
.error {
  color: var(--clr-red);
}

/* Ship sunk message styles */
.sunk {
  color: var(--clr-slate-blue);
}

/* Apply strike through to sunk ships */
.lost {
  text-decoration: line-through;
}

/* Winner message styles */
.winner {
  color: var(--clr-pink);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

/* Disable en element */
.disable {
  pointer-events: none;
}

/* Instructions dialog styles */
.dialog {
  width: var(--width-dialog);
  max-block-size: 95%;
  border: none;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
  padding: var(--space-900);
  /* Place dialog in center of screen */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: popup 1s ease-in-out;
}

/* Animate dialog popup */
@keyframes popup {
  0% {
    transform: translate(-50%, -60%) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    hsl(203, 100%, 50%),
    hsl(162, 50%, 40%),
    hsl(210, 100%, 56%),
    hsl(120, 100%, 25%)
  );
  opacity: 0.75;
}

/* Styles for close button */
.close__btn {
  display: block;
  background-color: var(--clr-red);
  margin-left: auto;
  margin-block-end: var(--space-400);
}

/* Styles for rules and instructions sections */
.rules,
.instructions {
  margin-block-end: var(--space-400);
}

.rules__heading,
.instructions__heading {
  margin-block-end: var(--space-200);
}

.rules__list,
.instructions__list {
  margin-inline-start: var(--space-600);
}

.rules__item,
.instructions__item {
  margin-block-end: var(--space-40);
}

/* Color the hit and miss squares */
.hit {
  background-color: var(--clr-red);
}

.miss {
  background-color: var(--clr-orange);
}

/* Hover effect for computer game board squares */
.hover-effect {
  transition: transform 0.2s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.1);
}
